
body {
    background-image: url(pexels.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
    
}
.navbar{
    background-color: rgb(26, 32, 32);
    padding: 15px;
}


.navbar{
    background-color: rgb(110, 104, 104);
    padding: 15px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-radius: 10px;
}

a{
    text-decoration: none;
    font-size: 25px;
    font-style: italic;
    color: black;

}

.links a:hover{
    cursor: pointer;
    color:brown;
    gap: 20px;
  
}
.landing_page{
    display: flex;
    flex-direction: row;
    color:bisque;



}
.column1{
    display:flex;
    flex-direction: row;
    width: 50%;


}
.column2{
    display:flex;
    flex-direction: row;
    width: 50%;

}